<div class="container">

    <h1>LOGIN</h1>
<form  [formGroup]="dateForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"  formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password"  autocomplete="current-password">
    </div>
    <br>

    <button type="submit" class="btn btn-primary" (click)="enviar()">Enviar</button>
    <br>
    <br>
    <button type="submit" class="btn btn-primary" (click)="enviarGoogle()">Login with google</button>
    <br>
    <br>
    <p>Si aun no estas registrado <a class="register"  routerLink="/register">Registrate</a></p>
   
</form>
</div>